body {
    background-image: url(https://th.bing.com/th/id/OIP.kGZJZCen5kpnMcuj3hLaTQHaE8?w=246&h=180&c=7&r=0&o=5&pid=1.7);
}
.form {
  border: 3px solid black;
  padding: 25px;
  border-radius: 7px;
  font-size: 180%;
}
h1 {
  text-align: center;
  border-radius: 7px;
  color: rgb(23, 158, 236);
}
.form input {
  width: 95%;
  border-radius: 6px;
  padding: 15px;
  font-size: medium;
}
.last input,a {
  padding: 10px;
  border-radius: 20px;
  width: 20%;

  font-size: larger;
  background-color: lightgreen;
}
.add input {
  width: 95%;
  padding: 15px;
  font-size: medium;

}
.last {
  padding-top: 15px;
  text-align: center;
}
